<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap uap3 desktop">

  <Identity
    Name="JoelStrasser.49230F8107349"
    Publisher="CN=6554F80A-33E0-424F-9311-EC251AFB427D"
    Version="1.1.0.0" />

  <Properties>
    <DisplayName>Kpaste CLI</DisplayName>
    <PublisherDisplayName>Joel Strasser</PublisherDisplayName>
    <Logo>Images\PackageLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Kpaste CLI"
        Description="With Kpaste CLI you can interact with infomaniak kPaste service in the command line."
        BackgroundColor="transparent"
        Square150x150Logo="Images\MediumTile.png"
        Square44x44Logo="Images\AppIcon.png">
        <uap:DefaultTile Wide310x150Logo="Images\WideTile.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
        <uap:LockScreen BadgeLogo="Images\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
      <Extensions>
	      <uap3:Extension
		      Category="windows.appExecutionAlias">
		      <uap3:AppExecutionAlias>
			      <desktop:ExecutionAlias Alias="kpastecli.exe" />
		      </uap3:AppExecutionAlias>
	      </uap3:Extension>  
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
